@model IEnumerable<BDMS.Models.DonationSiteModel>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr id="row_@item.DonationSiteID">
            <td>@item.SiteName</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
            <td>@item.RegistrationEmail</td>
            <td>@item.RegistrationPhone</td>
            <td>@item.MobileSite</td>
            <td><a href="#" onclick="AddEditDonationSite(@item.DonationSiteID)"><i class="glyphicon glyphicon-edit" aria-hidden="true" style="color:#6799CC;"></i></a> </td>
            <td><a href="#" onclick="ShowDonationSite(@item.DonationSiteID)"><i class="glyphicon glyphicon-eye-open" style="color:#006600;"></i></a> </td>
            <td><a href="#" onclick="ConfirmDelete(@item.DonationSiteID)"><i class="glyphicon glyphicon-remove" style="color:#C01D01;"></i></a> </td>
        </tr>
    }
}
