@model IEnumerable<BDMS.Models.DonationModel>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr id="row_@item.DonationID">
            <td>@item.DonationType</td>
            <td>@item.CrossBloodType</td>
            <td>@item.CrossRhFactor</td>
            <td>@item.DonorFullName</td>
            <td>@item.CreationDate</td>
            <td>@item.ExpirationDate</td>
            <td>@item.AcceptedDonation</td>
            <td>@item.ReasonsForRejection</td>
            <td><a href="#" onclick="AddEditDonation(@item.DonationID)"><i class="glyphicon glyphicon-edit" aria-hidden="true" style="color:#6799CC;"></i></a> </td>
            <td><a href="#" onclick="ShowDonation(@item.DonationID)"><i class="glyphicon glyphicon-eye-open" style="color:#006600;"></i></a> </td>
            <td><a href="#" onclick="ConfirmDelete(@item.DonationID)"><i class="glyphicon glyphicon-remove" style="color:#C01D01;"></i></a> </td>
        </tr>
    }
}