@model BDMS.Models.UserModel

@{
    ViewBag.Title = "UserProfile";
}

<link href="~/Content/adduser.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="form_main">
                    <h4 class="heading"><strong>User </strong> Profile <span></span></h4>
                    <div class="form">

                        First Name: @Model.FirstName <br />
                        Last Name: @Model.LastName <br />
                        Email: @Model.EmailAddress <br />
                        Phone: @Model.PhoneNumber <br />

                    </div>
                </div>
            </div>
        </div>
    </div>

}

