@model BDMS.Models.DonationModel

@{
    ViewBag.Title = "DonationsByExpirationDate";
}

<link href="~/Content/pageContent.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section id="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#"> Manage donations by expiration date</a></li>
            </ol>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading main-color-bg">
                            <h3 class="panel-title">Donations by expiration date</h3>
                        </div>
                        <div class="panel-body">
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-hover">

                                        <tr>
                                            <th>ID</th>
                                            <th>Donation type</th>
                                            <th>Expiration date</th>
                                            <th>Count</th>
                                        </tr>

                                        <tbody>

                                            @if (ViewBag.DonationList != null)
                                            {
                                                foreach (var item in ViewBag.DonationList)
                                                {
                                                    <tr id="row_@item.DonationID">
                                                        <td>@item.DonationID</td>
                                                        <td>@item.DonationType</td>
                                                        <td>@item.ExpirationDate</td>
                                                        <td>@ViewBag.Count</td>
                                                    </tr>
                                                }
                                            }
                                            <tr></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12 text-left">
                                <ul class="pagination pagination-lg pager" id="myPager"></ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
}