@model BDMS.Models.DonorModel

<div>

    <form id="myDonorsForm">

        @if (Model.DonorID > 0)
        {
            @Html.HiddenFor(m => m.DonorID)

            <p>@Html.DropDownListFor(model => model.ActiveDonor, ViewBag.IsDonorActiveList as SelectList, "--Is donor Active--", new { @class = "txt" }) </p>

            <p>@Html.TextBoxFor(model => model.DonorFullName, new { @class = "txt", @placeholder = "First name", @readonly = "readonly" }) </p>

            <p>@Html.DropDownListFor(model => model.DonorBloodType, ViewBag.BloodTypeList as SelectList, "--Blood type--", new { @class = "txt", @readonly = "readonly" }) </p>

            <p>@Html.DropDownListFor(model => model.RhFactor, ViewBag.RhFactorList as SelectList, "--Rh factor--", new { @class = "txt", @readonly = "readonly" }) </p>

            <p>@Html.TextBoxFor(model => model.DateOfBirth, new { @class = "txt", @placeholder = "Date of birth", @readonly = "readonly" }) </p>

            <p>@Html.TextBoxFor(model => model.Weight, new { @class = "txt", @placeholder = "Weight", @readonly = "readonly" }) </p>

            <p>@Html.TextBoxFor(model => model.DonorEmail, new { @class = "txt", @placeholder = "Email", @readonly = "readonly" }) </p>

            <p>@Html.TextBoxFor(model => model.DonorPhoneNumber, new { @class = "txt", @placeholder = "Phone number", @readonly = "readonly" }) </p>

            <p>@Html.TextBoxFor(model => model.LastScreeningDate, new { @class = "txt", @placeholder = "Last screening date", @readonly = "readonly" }) </p>

            <a href="#" id="btnSubmit" class="btn btn-success">
                @if (Model.DonorID > 0)
                { <span>Update</span>}
                else
                { <span>Save</span>}
            </a>
        }
        else
        {
            @Html.HiddenFor(m => m.DonorID)

            <p>@Html.DropDownListFor(model => model.ActiveDonor, ViewBag.IsDonorActiveList as SelectList, "--Is donor Active--", new { @class = "txt" }) </p>

            <p>@Html.TextBoxFor(model => model.DonorFullName, new { @class = "txt", @placeholder = "First name" }) </p>

            <p>@Html.DropDownListFor(model => model.DonorBloodType, ViewBag.BloodTypeList as SelectList, "--Blood type--", new { @class = "txt" }) </p>

            <p>@Html.DropDownListFor(model => model.RhFactor, ViewBag.RhFactorList as SelectList, "--Rh factor--", new { @class = "txt" }) </p>

            <p>@Html.TextBoxFor(model => model.DateOfBirth, new { @class = "txt", @placeholder = "Date of birth", @type = "date" }) </p>

            <p>@Html.TextBoxFor(model => model.Weight, new { @class = "txt", @placeholder = "Weight" }) </p>

            <p>@Html.TextBoxFor(model => model.DonorEmail, new { @class = "txt", @placeholder = "Email" }) </p>

            <p>@Html.TextBoxFor(model => model.DonorPhoneNumber, new { @class = "txt", @placeholder = "Phone number" }) </p>

            <p>@Html.TextBoxFor(model => model.LastScreeningDate, new { @class = "txt", @placeholder = "Last screening date", @type = "date" }) </p>

            <a href="#" id="btnSubmit" class="btn btn-success">
                @if (Model.DonorID > 0)
                { <span>Update</span>}
                else
                { <span>Save</span>}
            </a>
        }

    </form>

    <div style="text-align:center; display:none" id="loader">
        <img src="~/Content/loading.gif" width="150" />
    </div>

</div>

<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            $("#loader").show();

            var data = $("#myDonorsForm").serialize();

            $.ajax({

                type: "POST",
                url: "/Donor/Donor",
                data: data,
                success: function (response) {
                    $("#loader").hide();
                    $("#myAddEditModal").modal("hide");
                    window.location.href = "/Donor/Donor";
                }

            });
        });
    });

</script>
