@model IEnumerable<BDMS.Models.RecipientModel>

@if (Model != null)
            {
                foreach (var item in Model)
                {
        <tr id="row_@item.RecipientID">
            <td>@item.RecipientID</td>
            <td>@item.DonorFullName</td>
            <td>@item.DonationType</td>
            <td>@item.RecipientCodedName</td>
            <td>@item.DateOfUse</td>
            <td>@item.RelatedCondition</td>
            <td><a href="#" onclick="AddEditRecipient(@item.RecipientID)"><i class="glyphicon glyphicon-edit" aria-hidden="true" style="color:#6799CC;"></i></a> </td>
            <td><a href="#" onclick="ShowRecipient(@item.RecipientID)"><i class="glyphicon glyphicon-eye-open" style="color:#FFA500;"></i></a> </td>
            <td><a href="#" onclick="ConfirmDelete(@item.RecipientID)"><i class="glyphicon glyphicon-remove" style="color:#C01D01;"></i></a> </td>
        </tr>
    }
}